<center> <img src="<%=user.articleAvatar%>" alt="" style="width:150px; height: 150px; ; border-radius: 50%;"> </center>
 <form action="http://localhost:3000/articles/uploadfile" enctype="multipart/form-data" method="POST" id="imgUp"> 
    <center><label class="btn btn-success" style="margin-top: 20px;">
       <input type="file" name = "myFile"/ onchange="submitIt()" style="display: none;">
       Change Article picture
   </label></center> 
   <button type="submit" class="btn btn-success " style="margin-left: 50px; margin-bottom: 5px; float: right; display: none;"> <i class="fa fa-cloud-upload"></i> Upload</button>
</form>
<center> <input class="form-control form-control-lg" type="text" placeholder="Enter the title of your article" style="margin-bottom: 40px; margin-top: 40px; width: 400px;" id="title"> </center>

<textarea style="height: 500px; " >
  </textarea>
 <center> <button class="btn btn-success" onclick="save()" style="margin: 30px;">add this article</button></center>