 <center><div style="width: 1200px; height: 700px; overflow: scroll; border: solid black; ">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">createdAt</th>
            <th scope="col">Author</th>
            <th scope="col">Article briefly</th>
            <th scope="col">Tools</th>
          </tr>
        </thead>
        <tbody>
          <%if(user.role == "admin"){%>
            <%for(let i = 0; i < data.length; i++){%>
              <%-include('../partials/articleListAd', {articleList:data[i]})-%>
            <%}%>
            <%}else{%>
              <% for(let i = 0; i < data.length; i++){ %>
                <%- include('../partials/articleList',{articleList: data[i]}) %>
              <%}%>
            <%}%>
            
        </tbody>
      </table>

</div></center>