<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
    <link rel="stylesheet" href="dashStyle.css">
</head>
<body>
    <%-include('../partials/dashboardForm', {user: user}) -%>
    <script src="jquery-3.4.1.js"></script>
    <script src="dashboard.js"></script>
</body>
</html>