<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('../partials/loginForm') -%>
    <script src="jquery-3.4.1.js"></script>
    <script src="login.js"></script>
</body>
</html>