<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')-%>
</head>
<body>
    <%-include('../partials/navbarLogin', {user:user})-%>
    <%-include('../partials/myArticlesBody', {data:data})-%>
    <script src="jquery-3.4.1.js"></script>
    <script src="myArticles.js"></script>
</body>
</html>