<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%> 
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('../partials/signUpForm') -%>
    <script src="jquery-3.4.1.js"></script> 
    <script src="signUp.js"></script>
</body>
</html>