<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')-%>
</head>
<body>
    <%if(user.role == "admin"){%>
        <%-include('../partials/navbarAd', {user: user})-%>
    <%}else{%>
        <%-include('../partials/navbarLogin',{user:user})-%>
    <%}%>
    <script src="jquery-3.4.1.js"></script> 
    <script src="users.js"></script>
    
</body>
</html>